version: "3.9"

services:
  mcp-server:
    build: .
    container_name: mcp-server
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      PYTHONUNBUFFERED: 1
      DATABASE_URL: postgresql://sid:sid_1234@172.17.0.1:5432/ctrialssynthpat
      MILVUS_LOCALPATH: ${MILVUS_LOCALPATH}
      MILVUS_COLLECTION_NAME: clincaldocs
      ENABLE_SPARSE: ${ENABLE_SPARSE}
      HYBRID_RANKER: ${HYBRID_RANKER}
      EMBEDDING_MODEL_NAME: ${EMBEDDING_MODEL_NAME}
      EMBEDDING_BATCH_SIZE: ${EMBEDDING_BATCH_SIZE}
      EMBEDDING_DIMENSION: ${EMBEDDING_DIMENSION}
    volumes:
      - /mnt/clinical-trials-mcp/data/vector_database:/mnt/clinical-trials-mcp/data/vector_database
      - /mnt/models:/mnt/models
    ports:
      - "8080:8080"
    command: ["uv", "run", "python", "run_server.py"]
    restart: unless-stopped