version: "3.9"

services:
  mcp-server:
    build: .
    container_name: mcp-server
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      PYTHONUNBUFFERED: 1
      DATABASE_URL: postgresql://<username>:<password>@172.17.0.1:5432/ctrialssynthpat
      MILVUS_LOCALPATH: clinical-trials-mcp/data/vector_database/clincaldocs_milvus.db
      MILVUS_COLLECTION_NAME: clincaldocs
      ENABLE_SPARSE: ${ENABLE_SPARSE}
      HYBRID_RANKER: ${HYBRID_RANKER}
      EMBEDDING_MODEL_NAME: ${EMBEDDING_MODEL_NAME}
      EMBEDDING_BATCH_SIZE: ${EMBEDDING_BATCH_SIZE}
      EMBEDDING_DIMENSION: ${EMBEDDING_DIMENSION}
    volumes:
      - clinical-trials-mcp/data/vector_database:/home/sid/clinical-trials-mcp/data/vector_database
      - .cache/huggingface:/root/.cache/huggingface  
    ports:
      - "8080:8080"
    command: ["uv", "run", "python", "run_server.py"]
    restart: unless-stopped
